<h3>Edit User </h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name"> Nom</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.nom" name="nom">
    </div>

    <div class="form-group">
      <label for="name"> Prenom</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.prenom" name="prenom">
    </div>

    <div class="form-group">
      <label for="name"> Email</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.email" name="email">
    </div>

    <div class="form-group">
      <label for="name"> Password</label>
      <input type="password" class="form-control" id="name" required [(ngModel)]="user.password" name="password">
    </div>

    <div class="form-group">
        <label for="name"> Adresse</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="user.adresse" name="adresse">
    </div>

    <div class="form-group">
      <label for="name"> Type</label>
      <select class="form-control" required [(ngModel)]="user.type" name="type">
        <option value="employee">employee</option>
        <option value="chef">chef</option>
      </select>
      
  </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>